{% extends "base.html" %} {% block title %}Order Details{% endblock %} {% block
content %}
<h2>Order Details</h2>
<p><strong>Order ID:</strong> {{ order.id }}</p>
<p><strong>Total Amount:</strong> ${{ order.total_amount }}</p>
<p><strong>Status:</strong> {{ order.status }}</p>
<p>
	<strong>Order Date:</strong> {{ order.timestamp.strftime('%Y-%m-%d %H:%M:%S')
	}}
</p>
<h3>Items:</h3>
<ul class="list-group">
	{% for item in items %}
	<li class="list-group-item">
		<img
			src="{{ item.image }}"
			alt="{{ item.name }}"
			class="img-thumbnail"
			style="width: 100px; height: auto"
		/>
		<div class="d-inline-block ml-3">
			<p><strong>Name:</strong> {{ item.name }}</p>
			<p><strong>Description:</strong> {{ item.description }}</p>
			<p><strong>Price:</strong> ${{ item.price }}</p>
			<p><strong>Quantity:</strong> {{ item.quantity }}</p>
		</div>
	</li>
	{% endfor %}
</ul>
<a href="{{ url_for('order_history') }}" class="btn btn-secondary"
	>Back to Order History</a
>
{% endblock %}
